<div class="col-lg-12">
	<h1>Manage Courses <button style="float: right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerCourse" >ADD</button></h1>
	<br><br>
	<input ng-model="search.courseName" class ="form-control" style="width:80%" placeholder="Search...">
	<br>
	<p>Results: <label>{{filteredResultsSTEM.length +
	filteredResultsABM.length + filteredResultsHUMSS.length + filteredResultsMinor.length}} </label></p>
		
</div>
	<br><br>




<!-- /.col-lg-12 -->
<div>



	<div class="col-lg-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <label class="contentLabel">Science and Technology, Engineering, and Mathematics</label> 
                  
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                              	<div class="panel-group" id="accordion">
	                               <div class="panel panel-default"  ng-repeat="courseModel in courseList | filter : {
																							strand: 'Science and Technology, Engineering, and Mathematics'																							
																							} | filter :search as filteredResultsSTEM">
	                               
	                               
	                                   <div class="panel-heading">
	                                       <h4 class="panel-title">
	                                           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}stem" aria-expanded="false" class="" ng-bind="courseModel.courseName"></a>
	                                       </h4>
	                                   </div>
	                                   
	                                   
	                                   <div id="collapse{{$index}}stem" class="panel-collapse collapse" aria-expanded="false">
	                                       <div class="panel-body">
	                                          <div class="table table-striped table-bordered table-hover">
					                                <table class="table">
					                                    <tbody>
					                                        <tr >
					                                        	<td>
					                                            <label class="contentLabel"> Course Name: </label>
					                                            <label ng-bind="courseModel.courseName"  style="font-weight:normal;"></label>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Code: </label>
					                                            <label ng-bind="courseModel.courseCode"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                             <td>
					                                            <label class="contentLabel"> Course Units: </label>
					                                            <label ng-bind="courseModel.courseUnits"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Type: </label>
					                                            <label ng-bind="courseModel.courseType"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr ng-show="validateType(courseModel.courseType)">
					                                        	<td>
					                                        		<label class="contentLabel"> Year Level:</label>
					                                        		<label ng-bind ="courseModel.yearLevel" style="font-weight:normal;"></label>
					                                        	</td>
					                                        </tr>
					                                       <tr>				                                            
					                                        	<td>
					                                        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCourse{{$index}}stem" ng-click="initEdit(courseModel)">Edit</button>
					                                        		<button type="button" class="btn btn-danger" ng-click="deleteCourse(courseModel.id)">Delete</button>
					                                        	</td>
					                                        </tr>
					                                    </tbody>
					                                </table>
					                            </div>
	                                       </div>
	                                   </div>
	                                   
	                                   
	                                   
                                <div class="modal fade" id="editCourse{{$index}}stem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						          <div class="modal-dialog">
						              <div class="modal-content">
						                  <div class="modal-header">
						                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						                      <h4 class="modal-title" id="myModalLabel">Edit Course</h4>
						                  </div>
								                  <div class="modal-body">
								                  	<div ng-form="editCourseForm">
								                  	<label class="contentLabel"> Course Name: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseName" maxlength="36"required><br>
						                      			<label class="contentLabel"> Course Code: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseCode" maxlength="10" required><br>
						                      			<label class="contentLabel"> Course Units: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseUnits" maxlength="1" name="courseUnits" ng-pattern="/^[1-5]+$/"required>
														<span style="color:red" ng-show="editCourseForm.courseUnits.$error.pattern">*Accepted values are: 1-5</span><br>            			
                    									<label class="contentLabel"> Course Type: </label><br> 
						                      			<select name="type" class="form-control" ng-model="courseEdit" ng-options="type for type in courseType" required >
											      		</select><br>
								        				<div class="animate-switch-container" ng-switch on="courseEdit">
														      <div class="animate-switch" ng-switch-when="Major">
												      				<label class="contentLabel"> Year Level: </label><br>
																	<select name="type" class="form-control" ng-model="yearLevel" ng-options="year for year in yearArray" required>
													        		</select><br>
											                  		<label class="contentLabel"> Strand: </label><br> 
																	<select name="type" class="form-control" ng-model="strandEdit" ng-options="strand for strand in strandNames" required>
														      		</select><br>
														      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                      				<button type="button" class="btn btn-primary"  ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save changes</button>
														      </div>
														      <div class="animate-switch" ng-switch-default>
														      <br>
														      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                    		  <button type="button" class="btn btn-primary" ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save Changes</button>
								                    		  </div>
														</div>
												      
								                 </div>
								                  </div>
								                    
								                 
								              </div>
								              <!-- /.modal-content -->
								          </div>
								          <!-- /.modal-dialog -->
								      </div>
								      
								      
	                               </div>
                           </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      
      
      
      
      <div class="col-lg-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <label class="contentLabel">Accountancy and Business Management</label> 
                  
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                              	<div class="panel-group" id="accordion">
	                               <div class="panel panel-default"  ng-repeat="courseModel in courseList | filter : {
																							strand: 'Accountancy, Business, and Management'																							
																							} | filter :search as filteredResultsABM" >
	                               
	                               
	                                   <div class="panel-heading">
	                                       <h4 class="panel-title">
	                                           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}abm" aria-expanded="false" class="" ng-bind="courseModel.courseName"></a>
	                                       </h4>
	                                   </div>
	                                   
	                                   
	                                   <div id="collapse{{$index}}abm" class="panel-collapse collapse" aria-expanded="false">
	                                       <div class="panel-body">
	                                          <div class="table table-striped table-bordered table-hover">
					                                <table class="table">
					                                    <tbody>
					                                        <tr >
					                                        	<td>
					                                            <label class="contentLabel"> Course Name: </label>
					                                            <label ng-bind="courseModel.courseName"  style="font-weight:normal;"></label>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Code: </label>
					                                            <label ng-bind="courseModel.courseCode"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                             <td>
					                                            <label class="contentLabel"> Course Units: </label>
					                                            <label ng-bind="courseModel.courseUnits"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Type: </label>
					                                            <label ng-bind="courseModel.courseType"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr ng-show="validateType(courseModel.courseType)">
					                                        	<td>
					                                        		<label class="contentLabel"> Year Level:</label>
					                                        		<label ng-bind ="courseModel.yearLevel" style="font-weight:normal;"></label>
					                                        	</td>
					                                        </tr>					                                        
					                                        <tr>				                                            
					                                        	<td>
					                                        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCourse{{$index}}abm" ng-click="initEdit(courseModel)">Edit</button>
					                                        		<button type="button" class="btn btn-danger" ng-click="deleteCourse(courseModel.id)">Delete</button>
					                                        	</td>
					                                        </tr>
					                                    </tbody>
					                                </table>
					                            </div>
	                                       </div>
	                                   </div>
	                                   
	                                   
	                                   
                                <div class="modal fade" id="editCourse{{$index}}abm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						          <div class="modal-dialog">
						              <div class="modal-content">
						                  <div class="modal-header">
						                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						                      <h4 class="modal-title" id="myModalLabel">Edit Course</h4>
						                  </div>
								                  <div class="modal-body">
								                  	<div ng-form="editCourseForm">
								                  	
								                  		<label class="contentLabel"> Course Name: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseName" maxlength="36"required><br>
						                      			<label class="contentLabel"> Course Code: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseCode" maxlength="10" required><br>
						                      			<label class="contentLabel"> Course Units: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseUnits" maxlength="1" name="courseUnits" ng-pattern="/^[1-5]+$/"required>
														<span style="color:red" ng-show="editCourseForm.courseUnits.$error.pattern">*Accepted values are: 1-5</span><br>            			
                    									<label class="contentLabel"> Course Type: </label><br> 
						                      			<select name="type" class="form-control" ng-model="courseEdit" ng-options="type for type in courseType" required >
											      		</select><br>
								        				<div class="animate-switch-container" ng-switch on="courseEdit">
														      <div class="animate-switch" ng-switch-when="Major">
												      				<label class="contentLabel"> Year Level: </label><br>
																	<select name="type" class="form-control" ng-model="yearLevel" ng-options="year for year in yearArray" required>
													        		</select><br>
											                  		<label class="contentLabel"> Strand: </label><br> 
																	<select name="type" class="form-control" ng-model="strandEdit" ng-options="strand for strand in strandNames" required>
														      		</select><br>
														      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                      				<button type="button" class="btn btn-primary"  ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save changes</button>
														      </div>
														      <div class="animate-switch" ng-switch-default>
														      <br>
														      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                    		  <button type="button" class="btn btn-primary" ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save Changes</button>
								                    		  </div>
														</div>
												      
								                 </div>
								                  </div>
								                    
								                 
								              </div>
								              <!-- /.modal-content -->
								          </div>
								          <!-- /.modal-dialog -->
								      </div>
								      
								      
	                               </div>
                           </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      
      
      
      
      
      <div class="col-lg-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <label class="contentLabel">Humanities and Social Sciences</label> 
                  
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                              	<div class="panel-group" id="accordion">
	                               <div class="panel panel-default"   ng-repeat="courseModel in courseList | filter : {
																							strand: 'Humanities and Social Sciences'																							
																							} | filter :search as filteredResultsHUMSS">
	                               
	                               
	                                   <div class="panel-heading">
	                                       <h4 class="panel-title">
	                                           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}humss" aria-expanded="false" class="" ng-bind="courseModel.courseName"></a>
	                                       </h4>
	                                   </div>
	                                   
	                                   
	                                   <div id="collapse{{$index}}humss" class="panel-collapse collapse" aria-expanded="false">
	                                       <div class="panel-body">
	                                          <div class="table table-striped table-bordered table-hover">
					                                <table class="table">
					                                    <tbody>
					                                        <tr >
					                                        	<td>
					                                            <label class="contentLabel"> Course Name: </label>
					                                            <label ng-bind="courseModel.courseName"  style="font-weight:normal;"></label>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Code: </label>
					                                            <label ng-bind="courseModel.courseCode"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                             <td>
					                                            <label class="contentLabel"> Course Units: </label>
					                                            <label ng-bind="courseModel.courseUnits"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Type: </label>
					                                            <label ng-bind="courseModel.courseType"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr ng-show="validateType(courseModel.courseType)">
					                                        	<td>
					                                        		<label class="contentLabel"> Year Level:</label>
					                                        		<label ng-bind ="courseModel.yearLevel" style="font-weight:normal;"></label>
					                                        	</td>
					                                        </tr>
					                                       
					                                        <tr>				                                            
					                                        	<td>
					                                        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCourse{{$index}}humss" ng-click="initEdit(courseModel)">Edit</button>
					                                        		<button type="button" class="btn btn-danger" ng-click="deleteCourse(courseModel.id)">Delete</button>
					                                        	</td>
					                                        </tr>
					                                    </tbody>
					                                </table>
					                            </div>
	                                       </div>
	                                   </div>
	                                   
	                                   
	                                   
                                <div class="modal fade" id="editCourse{{$index}}humss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						          <div class="modal-dialog">
						              <div class="modal-content">
						                  <div class="modal-header">
						                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						                      <h4 class="modal-title" id="myModalLabel">Edit Course</h4>
						                  </div>
								                  <div class="modal-body">
								                  	<div ng-form="editCourseForm">
								                  	
								                  		<label class="contentLabel"> Course Name: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseName" maxlength="36"required><br>
						                      			<label class="contentLabel"> Course Code: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseCode" maxlength="10" required><br>
						                      			<label class="contentLabel"> Course Units: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseUnits" maxlength="1" name="courseUnits" ng-pattern="/^[1-5]+$/"required>
														<span style="color:red" ng-show="editCourseForm.courseUnits.$error.pattern">*Accepted values are: 1-5</span><br>            			
                    									<label class="contentLabel"> Course Type: </label><br> 
						                      			<select name="type" class="form-control" ng-model="courseEdit" ng-options="type for type in courseType" required >
											      		</select><br>
								        				<div class="animate-switch-container" ng-switch on="courseEdit">
														      <div class="animate-switch" ng-switch-when="Major">
												      				<label class="contentLabel"> Year Level: </label><br>
																	<select name="type" class="form-control" ng-model="yearLevel" ng-options="year for year in yearArray" required>
													        		</select><br>
											                  		<label class="contentLabel"> Strand: </label><br> 
																	<select name="type" class="form-control" ng-model="strandEdit" ng-options="strand for strand in strandNames" required>
														      		</select><br>
														      		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                      				<button type="button" class="btn btn-primary"  ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save changes</button>
														      </div>
														      <div class="animate-switch" ng-switch-default>
														      <br>
														      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                    		  <button type="button" class="btn btn-primary" ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save Changes</button>
								                    		  </div>
														</div>
												      
								                 </div>
								                  </div>
								                    
								                 
								              </div>
								              <!-- /.modal-content -->
								          </div>
								          <!-- /.modal-dialog -->
								      </div>
								      
								      
	                               </div>
                           </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      
      
      
      
      
      
      <div class="col-lg-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <label class="contentLabel"> General Education Courses</label> 
                  
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                              	<div class="panel-group" id="accordion">
	                               <div class="panel panel-default"   ng-repeat="courseModel in courseList | filter : {
																							courseType: 'Minor'																							
																							} | filter :search as filteredResultsMinor">
	                               
	                               
	                                   <div class="panel-heading">
	                                       <h4 class="panel-title">
	                                           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}minor" aria-expanded="false" class="" ng-bind="courseModel.courseName"></a>
	                                       </h4>
	                                   </div>
	                                   
	                                   
	                                   <div id="collapse{{$index}}minor"  class="panel-collapse collapse" aria-expanded="false">
	                                       <div class="panel-body">
	                                          <div class="table table-striped table-bordered table-hover">
					                                <table class="table">
					                                    <tbody>
					                                        <tr >
					                                        	<td>
					                                            <label class="contentLabel"> Course Name: </label>
					                                            <label ng-bind="courseModel.courseName"  style="font-weight:normal;"></label>
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Code: </label>
					                                            <label ng-bind="courseModel.courseCode"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                             <td>
					                                            <label class="contentLabel"> Course Units: </label>
					                                            <label ng-bind="courseModel.courseUnits"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr>
					                                            <td>
					                                            <label class="contentLabel"> Course Type: </label>
					                                            <label ng-bind="courseModel.courseType"  style="font-weight:normal;"></label>					                               
					                                            </td>
					                                        </tr>
					                                        <tr ng-show="validateType(courseModel.courseType)">
					                                        	<td>
					                                        		<label class="contentLabel"> Year Level:</label>
					                                        		<label ng-bind ="courseModel.yearLevel" style="font-weight:normal;"></label>
					                                        	</td>
					                                        </tr>					                                        
					                                        <tr>				                                            
					                                        	<td>
					                                        		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCourse{{$index}}minor" ng-click="initEdit(courseModel)">Edit</button>
					                                        		<button type="button" class="btn btn-danger" ng-click="deleteCourse(courseModel.id)">Delete</button>
					                                        	</td>
					                                        </tr>
					                                    </tbody>
					                                </table>
					                            </div>
	                                       </div>
	                                   </div>
	                                   
	                                   
	                                   
                                <div class="modal fade" id="editCourse{{$index}}minor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
						          <div class="modal-dialog">
						              <div class="modal-content">
						                  <div class="modal-header">
						                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						                      <h4 class="modal-title" id="myModalLabel">Edit Course</h4>
						                  </div>
								                  <div class="modal-body">
								                  	<div ng-form="editCourseForm">
								                  	
								                  		<label class="contentLabel"> Course Name: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseName" maxlength="36"required><br>
						                      			<label class="contentLabel"> Course Code: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseCode" maxlength="10" required><br>
						                      			<label class="contentLabel"> Course Units: </label><br> 
														<input class ="form-control" type="text" ng-model="modelEditCourse.courseUnits" maxlength="1" name="courseUnits" ng-pattern="/^[1-5]+$/"required>
														<span style="color:red" ng-show="editCourseForm.courseUnits.$error.pattern">*Accepted values are: 1-5</span><br>            			
                    									
														<label class="contentLabel"> Course Type: </label><br> 
						                      			<select name="type" class="form-control" ng-model="courseEdit" ng-options="type for type in courseType" required >
											      		</select><br>
								        				<div class="animate-switch-container" ng-switch on="courseEdit">
														      <div class="animate-switch" ng-switch-when="Major">
												      				<label class="contentLabel"> Year Level: </label><br>
																	<select name="type" class="form-control" ng-model="yearLevel" ng-options="year for year in yearArray" required>
													        		</select><br>
											                  		<label class="contentLabel"> Strand: </label><br> 
																	<select name="type" class="form-control" ng-model="strandEdit" ng-options="strand for strand in strandNames" required>
														      		</select><br>
														      		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="listCourses()">Close</button>
								                      				<button type="button" class="btn btn-primary"  ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save changes</button>
														      </div>
														      <div class="animate-switch" ng-switch-default>
														      <br>
														      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                    		  <button type="button" class="btn btn-primary" ng-click="updateCourse(modelEditCourse,yearLevel,strandEdit,courseEdit)" ng-disabled="editCourseForm.$invalid">Save Changes</button>
								                    		  </div>
														</div>
												      
								                 </div>
								                  </div>
								                    
								                 
								              </div>
								              <!-- /.modal-content -->
								          </div>
								          <!-- /.modal-dialog -->
								      </div>
								      
								      
	                               </div>
                           </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      
      
      
      
      
      
      
      <!-- Modal Declaration here -->
  		<div class="modal fade" id="registerCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                      <h4 class="modal-title" id="myModalLabel">Add Course</h4>
                  </div>
                  <div class="modal-body" ng-form="registerCourseForm">
                  		<label class="contentLabel"> Course Name: </label><br> 
						<input class ="form-control" type="text" ng-model="course.courseName" maxlength="36" required><br>
                    	<label class="contentLabel"> Course Code: </label><br> 
						<input class ="form-control" type="text" ng-model="course.courseCode" maxlength="10" required><br>
                    	<label class="contentLabel"> Course Units: </label><br> 
                    	<input class ="form-control" type="text" ng-model="course.courseUnits" maxlength="1" name="courseUnits" ng-pattern="/^[1-5]+$/"required><br>
						<span style="color:red" ng-show="registerCourseForm.courseUnits.$error.pattern">*Accepted values are: 1-5</span>
						<label class="contentLabel"> Course Type: </label><br> 
						<select name="type" ng-init="course.courseType=courseType[1]" class="form-control" ng-model="course.courseType" ng-options="type for type in courseType" required>
			      		</select>							
			      		<br>
        				<div class="animate-switch-container" ng-switch on="course.courseType">
						      <div class="animate-switch" ng-switch-when="Major">
				      				<label class="contentLabel"> Strand: </label><br> 
									<select name="type" class="form-control" ng-model="course.strand" ng-options="strand as strand.strandName for strand in strandList" required>
				      				</select><br>
	                   				<label class="contentLabel"> Year Level: </label><br> 
									<select name="type" class="form-control" ng-model="course.yearLevel" ng-options="year for year in yearArray" required>
						      		</select><br>
						      </div>
						      <div class="animate-switch" ng-switch-default></div>
						</div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" ng-click="registerCourse()" ng-disabled="registerCourseForm.$invalid">Add</button>
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      
      
      
</div>